* { 
    box-sizing: border-box; 
    margin: 0; 
    border: 0; 
    padding: 0; 
  } 
  div { 
    position: relative; 
    top: 50%; 
    transform: translateY(-50%); 
    margin: 0 auto; 
    height: 50vh; 
    width: 50vh; 
    background: #080; 
  } 